<section class="border-white/20 border-y">
  <div class="text-white mx-auto">
    <div class="mx-auto overflow-hidden py-2 relative flex justify-center items-center">
      <!-- Gradient Overlays -->
      <div class="absolute inset-y-0 left-0 w-44 z-10 bg-gradient-to-r from-black via-transparent"></div>
      <div class="absolute inset-y-0 right-0 w-44 z-10 bg-gradient-to-l from-black via-transparent"></div>

      <!-- Marquee Text -->
      <div class="flex items-center font-black font-display gap-4 tracking-widest uppercase whitespace-nowrap text-sm lg:text-lg">
        <span class="hidden lg:inline">✺</span>
        Only 2 spots open for february
        <span class="hidden lg:inline">✺</span>
        <a
          href="#"
          onclick="Calendly.initPopupWidget({url: 'https://calendly.com/hyper-creative/30min?hide_event_type_details=1&hide_gdpr_banner=1'}); return false;"
          class="text-white hover:text-orange duration-200"
        >
          Book a call now
        </a>
        <span class="inline lg:inline">✺</span>
      </div>
    </div>
  </div>
</section>