---
const faqData = [
  {
    id: 1,
    question: "What is Lorem Ipsum?",
    answer: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."
  },
  {
    id: 2,
    question: "Where does it come from?",
    answer: "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC."
  },
  {
    id: 3,
    question: "Why do we use it?",
    answer: "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
  },
  {
    id: 4,
    question: "When should we use Lorem Ipsum?",
    answer: "Lorem Ipsum is simply dummy text used when you need to fill space without using meaningful content during the design phase."
  }
];
---
<!-- Use grid-auto-flow: column to create independent columns -->
<section class="max-w-5xl mx-auto grid gap-6 grid-auto-flow:column md:grid-cols-2">
  {faqData.map(({ id, question, answer }) => (
    <div>
      <details 
        id={`faq-${id}`} 
        class="group bg-gray-50 p-6 rounded-lg [&_summary::-webkit-details-marker]:hidden"
      >
        <summary class="flex cursor-pointer justify-between items-center text-gray-900">
          <h3 class="font-medium">{question}</h3>
          <span class="relative size-5 shrink-0">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="absolute inset-0 size-5 opacity-100 group-open:opacity-0"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="absolute inset-0 size-5 opacity-0 group-open:opacity-100"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </span>
        </summary>
        <p class="mt-4 text-gray-700">{answer}</p>
      </details>
    </div>
  ))}
</section>