---
const faqData = [
  {
    id: 1,
    question: "What is Lorem Ipsum?",
    answer: "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
  },
  {
    id: 2,
    question: "Where does it come from?",
    answer: "Contrary to popular belief, Lorem Ipsum is not simply random text."
  },
  {
    id: 3,
    question: "Why do we use it?",
    answer: "It is a long established fact that a reader will be distracted by the readable content."
  },
  {
    id: 4,
    question: "When should we use Lorem Ipsum?",
    answer: "Lorem Ipsum is used when you need to fill space during the design phase."
  }
];
---

<section class="max-w-5xl mx-auto grid gap-6 md:grid-cols-2">
  {faqData.map(({ id, question, answer }) => (
    <div class="mb-6">
      <details
        id={`faq-${id}`}
        class="group bg-gray-50 p-6 rounded-lg"
      >
        <summary class="flex cursor-pointer justify-between items-center">
          <h3 class="font-medium">{question}</h3>
          <span class="relative w-5 h-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="absolute inset-0 w-5 h-5 opacity-100 group-open:opacity-0"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </span>
        </summary>
        <p class="mt-4 text-gray-700">{answer}</p>
      </details>
    </div>
  ))}
</section>