<section class="border-white/20  border-b">
  <div class="mx-auto border-white/20  border-x max-w-7xl">
    <div class="mx-auto">
      <div class="mx-auto lg:pt-28 gradient-grid px-8 py-12">
        <h1 class="text-white font-display uppercase text-3xl lg:text-7xl">
          Reach out today, let’s create results tomorrow
        </h1>
        <h3 class="text-white font-display uppercase text-3xl lg:text-7xl">
          Ready to craft ads so effective they’ll leave your competitors behind? Share your details, and we’ll be in touch to make it happen.
          </h3>
      </div>
    </div>
  </div>
</section>
