<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        AstroMax is a comprehensive design, redesign, and development service
        that specializes in crafting exceptional one-page websites to captivate
        users and leave a lasting impression.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
       We create high-performance ad creative that stops the scroll 
      and drives action. Whether it’s boosting sales, building brand loyalty, or scaling your reach, we’re here to turn your goals into reality.  
      </p>
    </div>
  </div>
</section>
