<section class="border-b border-white/20 bg-accent-500">
  <div
    class="mx-auto max-w-7xl border-white/20 border-x"
    x-data="{ init() {
            new Splide(this.$refs.splide, {
                perPage: 3.5, // Show 3 full slides and 1 half slide
                perMove: 1, // Move one slide at a time
                gap: '0rem', // No gap between slides
                focus: 'center', // Center the active slide
                breakpoints: {
                    640: {
                        perPage: 1, // Show 1 slide on mobile
                    },
                },
            }).mount();
        },
    }">
    <section
      class="splide is-initialized splide--slide splide--ltr splide--draggable is-active"
      aria-label="Splide/Alpine.js"
      x-ref="splide"
      id="splide01"
      aria-roledescription="carousel">
      <div class="splide__arrows splide__arrows--ltr items-center">
        <button
          class="splide__arrow splide__arrow--prev"
          type="button"
          aria-label="Previous slide"
          aria-controls="splide01-track"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 40 40"
            width="40"
            height="40"
            focusable="false"
            ><path
              d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"
            ></path></svg
          ></button
        >
        <button
          class="splide__arrow splide__arrow--next"
          type="button"
          disabled=""
          aria-label="Next slide"
          aria-controls="splide01-track"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 40 40"
            width="40"
            height="40"
            focusable="false"
            ><path
              d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"
            ></path></svg
          ></button
        >
      </div>
      <div
        class="h-full splide__track splide__track--slide splide__track--ltr splide__track--draggable"
        id="splide01-track"
        style="padding-left: 0px; padding-right: 0px;"
        aria-live="polite"
        aria-atomic="true"
        aria-busy="false">
        <ul
          class="splide__list"
          id="splide01-list"
          role="presentation"
          style="transform: translateX(-2040px);">
          <li class="splide__slide">
            <img src="/work/1.png" alt="Social Media Ads" />
            <div class="text-white text-xs p-3 text-center">
              <span class="block font-semibold">Social Media Ads</span>
            </div>
          </li>
          <li class="splide__slide">
            <img src="/work/2.png" alt="Landing Pages" />
            <div class="text-white text-xs p-3 text-center">
              <span class="block font-semibold">Landing Pages</span>
            </div>
          </li>
          <li class="splide__slide">
            <img src="/work/3.png" alt="Tiktok Ads" />
            <div class="text-white text-xs p-3 text-center">
              <span class="block font-semibold">Tiktok Ads</span>
            </div>
          </li>
          <li class="splide__slide">
            <img src="/work/4.png" alt="Mobile Gaming Ads" />
            <div class="text-white text-xs p-3 text-center">
              <span class="block font-semibold">Mobile Gaming Ads</span>
            </div>
          </li>
          <li class="splide__slide">
            <img src="/work/5.png" alt="Native Ads" />
            <div class="text-white text-xs p-3 text-center">
              <span class="block font-semibold">Native Ads</span>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</section>