<section class="border-b border-white/20 bg-accent-500">
  <div class="mx-auto max-w-7xl border-white/20 border-x px-8 py-8 gradient-grid overflow-hidden">
    <div class="mx-auto text-center">
      <h3 class="text-3xl font-display text-white uppercase">
        THE BRANDS YOU LOVE - THE ADS THEY LOVE
      </h3>
      <h3 class="text-xl font-display text-white uppercase mt-1">
        PORTFOLIO
      </h3>
    </div>
  </div>
</section>

<section class="border-b border-white/20 bg-accent-500">
  <div
    class="mx-auto max-w-7xl border-white/20 border-x overflow-hidden"
    x-data="{ init() {
      new Splide(this.$refs.splide, {
        perPage: 4.5,
        gap: '1rem',
        trimSpace: false, // Prevent trimming space around slides
        breakpoints: {
          640: {
            perPage: 1.5, // Show 1.5 images on mobile
            trimSpace: false, // Prevent trimming space around slides on mobile
          },
        },
      }).mount();
    }}"
  >
    <section
      class="splide is-initialized splide--slide splide--ltr splide--draggable is-active"
      aria-label="Splide/Alpine.js"
      x-ref="splide"
      id="splide01"
      aria-roledescription="carousel"
    >
      <div class="splide__arrows splide__arrows--ltr items-center">
        <button
          class="splide__arrow splide__arrow--prev"
          type="button"
          aria-label="Previous slide"
          aria-controls="splide01-track"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 40 40"
            width="40"
            height="40"
            focusable="false"
          >
            <path
              d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"
            ></path>
          </svg>
        </button>
        <button
          class="splide__arrow splide__arrow--next"
          type="button"
          aria-label="Next slide"
          aria-controls="splide01-track"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 40 40"
            width="40"
            height="40"
            focusable="false"
          >
            <path
              d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"
            ></path>
          </svg>
        </button>
      </div>

      <div
        class="h-full splide__track splide__track--slide splide__track--ltr splide__track--draggable overflow-hidden"
        id="splide01-track"
        style="padding-left: 0px; padding-right: 0px;"
        aria-live="polite"
        aria-atomic="true"
        aria-busy="false"
      >
        <ul class="splide__list" id="splide01-list" role="presentation">
          <!-- Slide 1 -->
          <li class="flex justify-center flex-col splide__slide">
            <img
              alt="work"
              class="w-full object-cover object-center bg-white border-t border-black lg:border-r"
              src="/work/1.png"
            />
          </li>

          <!-- Slide 2 -->
          <li class="flex justify-center flex-col splide__slide">
            <img
              alt="work"
              class="w-full object-cover object-center bg-white border-t border-black lg:border-r"
              src="/work/2.png"
            />
          </li>

          <!-- Slide 3 -->
          <li class="flex justify-center flex-col splide__slide">
            <img
              alt="work"
              class="w-full object-cover object-center bg-white border-t border-black lg:border-r"
              src="/work/3.png"
            />
          </li>

          <!-- Slide 4 -->
          <li class="flex justify-center flex-col splide__slide">
            <img
              alt="work"
              class="w-full object-cover object-center bg-white border-t border-black lg:border-r"
              src="/work/4.png"
            />
          </li>

          <!-- Slide 5 -->
          <li class="flex justify-center flex-col splide__slide">
            <img
              alt="work"
              class="w-full object-cover object-center bg-white border-t border-black lg:border-r"
              src="/work/5.png"
            />
          </li>

          <!-- Slide 6 -->
          <li class="flex justify-center flex-col splide__slide">
            <img
              alt="work"
              class="w-full object-cover object-center bg-white border-t border-black lg:border-r"
              src="/work/6.png"
            />
          </li>

          <!-- Slide 7 -->
          <li class="flex justify-center flex-col splide__slide">
            <img
              alt="work"
              class="w-full object-cover object-center bg-white border-t border-black lg:border-r"
              src="/work/7.png"
            />
          </li>
        </ul>
      </div>
    </section>
  </div>

  <!-- Add "1000+ more" text below the carousel -->
  <div class="mx-auto max-w-7xl border-white/20 border-x px-8 py-2 text-center">
    <p class="text-white text-lg font-display">1000+ more</p>
  </div>
</section>