---
// Import the JSON file
import portfolioData from '../../data/portfolioData.json';
---

<section class="portfolio-section border-b border-white/20 bg-accent-500">
  <div class="mx-auto max-w-7xl border-white/20 border-x px-8 py-8 gradient-grid overflow-hidden">
    <div class="mx-auto text-center">
      <h3 class="text-3xl font-display text-white uppercase">
        {portfolioData.heading.title}
      </h3>
      <h3 class="text-xl font-display text-white uppercase mt-1">
        {portfolioData.heading.subtitle}
      </h3>
    </div>
  </div>

  <!-- Marquee Container -->
  <div class="portfolio-marquee-container overflow-x-auto scrollbar-hide">
    <div class="flex items-center portfolio-image-marquee-animation gap-4 whitespace-nowrap">
      {portfolioData.images.map((image, index) => (
        <img
          key={index}
          src={image}
          alt={`Portfolio Image ${index + 1}`}
          class="portfolio-image"
        />
      ))}
    </div>
  </div>
</section>

<style>
  /* Portfolio-specific styles */
  .portfolio-image-marquee-animation {
    animation: marquee 30s linear infinite;
  }
  .portfolio-image {
    width: 255px;
    height: 392px;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid black;
  }
</style>
