---
---


<!-- Heading Section -->
<section class="border-b border-white/20 bg-accent-500">
  <div class="mx-auto max-w-7xl border-white/20 border-x px-8 py-8 gradient-grid overflow-hidden">
    <div class="mx-auto text-center">
      <h3 class="text-3xl font-display text-white uppercase">
        THE BRANDS YOU LOVE - THE ADS THEY LOVE
      </h3>
      <h3 class="text-xl font-display text-white uppercase mt-1">
        PORTFOLIO
      </h3>
    </div>
  </div>
</section>

<!-- Carousel Section -->
<section class="border-b border-white/20 bg-accent-500">
  <!-- Outer container set to overflow-hidden -->
  <div
    class="mx-auto max-w-7xl border-white/20 border-x overflow-hidden"
    x-data="{
      init() {
        new Splide(this.$refs.splide, {
          perPage: 4.5,
          gap: '1rem',
          pagination: true,
          dragAngleThreshold: 5,
          flickPower: 300,
          trimSpace: false,
          breakpoints: {
            640: {
              perPage: 1.5,
              trimSpace: false,
            },
          },
        }).mount();
      }
    }"
    x-init="init()"
  >
    <!-- Let Splide add its own classes -->
    <section
      class="splide"
      aria-label="Splide/Alpine.js"
      x-ref="splide"
      id="splide01"
      aria-roledescription="carousel"
    >
      <!-- Splide Arrows -->
      <div class="splide__arrows items-center">
        <button
          class="splide__arrow splide__arrow--prev"
          type="button"
          aria-label="Previous slide"
          aria-controls="splide01-track"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 40 40"
            width="40"
            height="40"
            focusable="false"
          >
            <path
              d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"
            />
          </svg>
        </button>
        <button
          class="splide__arrow splide__arrow--next"
          type="button"
          aria-label="Next slide"
          aria-controls="splide01-track"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 40 40"
            width="40"
            height="40"
            focusable="false"
          >
            <path
              d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"
            />
          </svg>
        </button>
      </div>

      <!-- Splide Track -->
      <div
        class="h-full splide__track overflow-hidden"
        id="splide01-track"
        aria-live="polite"
        aria-atomic="true"
      >
        <ul class="splide__list" id="splide01-list" role="presentation">
          <!-- Slides -->
          <li class="flex justify-center flex-col splide__slide">
            <img
              alt="work 1"
              class="w-full object-cover object-center bg-white border-t border-black lg:border-r"
              src="/work/1.png"
            />
          </li>
          <li class="flex justify-center flex-col splide__slide">
            <img
              alt="work 2"
              class="w-full object-cover object-center bg-white border-t border-black lg:border-r"
              src="/work/2.png"
            />
          </li>
          <li class="flex justify-center flex-col splide__slide">
            <img
              alt="work 3"
              class="w-full object-cover object-center bg-white border-t border-black lg:border-r"
              src="/work/3.png"
            />
          </li>
          <li class="flex justify-center flex-col splide__slide">
            <img
              alt="work 4"
              class="w-full object-cover object-center bg-white border-t border-black lg:border-r"
              src="/work/4.png"
            />
          </li>
          <li class="flex justify-center flex-col splide__slide">
            <img
              alt="work 5"
              class="w-full object-cover object-center bg-white border-t border-black lg:border-r"
              src="/work/5.png"
            />
          </li>
          <li class="flex justify-center flex-col splide__slide">
            <img
              alt="work 6"
              class="w-full object-cover object-center bg-white border-t border-black lg:border-r"
              src="/work/6.png"
            />
          </li>
          <li class="flex justify-center flex-col splide__slide">
            <img
              alt="work 7"
              class="w-full object-cover object-center bg-white border-t border-black lg:border-r"
              src="/work/7.png"
            />
          </li>
        </ul>
      </div>
    </section>
  </div>

  <!-- "1000+ more" text -->
  <div class="mx-auto max-w-7xl border-white/20 border-x px-8 py-2 text-center">
    <p class="text-white text-lg font-display">1000+ more</p>
  </div>
</section>
