---
// Import the JSON file for Testimonials
import testimonialsData from '../../data/testimonialsData.json';
---

<div class="text-white text-xs mx-auto p-8">
  <h2 class="text-white font-display uppercase text-xl lg:text-2xl text-center mb-8">
    Don't just take our word for it...
  </h2>

  <div
    class="gap-3 gap-y-12 grid grid-cols-1 md:grid-cols-4 sm:grid-cols-2">
    {testimonialsData.map((testimonial, index) => (
      <div class="flex flex-col justify-between h-full" key={index}>
        <p class="text-eagle">
          {testimonial.text}
        </p>
        <div class="mt-3">
          <span class="block font-semibold mt-3">{testimonial.author}</span>
          <span class="block text-eagle">{testimonial.position}</span>
        </div>
      </div>
    ))}
  </div>
</div>
