<section class="bg-dark-green py-10 us-vs-them">
    <div class="container mx-auto text-center">
      <h2 class="text-white font-display text-3xl md:text-5xl">
        Hiring or traditional outsourcing? <em>Neither.</em>
      </h2>
      <div class="overflow-x-auto mt-10">
        <table class="w-full text-white">
          <thead>
            <tr>
                <th class="p-4 text-left text-white"> </th>
                <th class="p-4 text-white">Speed</th>
                <th class="p-4 text-white">Flexibility</th>
                <th class="p-4 text-white">Quality</th>
                <th class="p-4 text-white">Scalability</th>
                <th class="p-4 text-white">Cost-effectiveness</th>
              </tr>              
          </thead>
          <tbody>
            <!-- HYPER Row -->
            <tr class="bg-light-green text-black rounded-full">
              <td class="p-4 font-bold rounded-l-full">HYPER</td>
              <td class="p-4 text-center">✔</td>
              <td class="p-4 text-center">✔</td>
              <td class="p-4 text-center">✔</td>
              <td class="p-4 text-center">✔</td>
              <td class="p-4 text-center rounded-r-full">✔</td>
            </tr>
            <!-- In-house team -->
            <tr>
              <td class="p-4 text-left">In-house team</td>
              <td class="p-4 text-center">✘</td>
              <td class="p-4 text-center">✘</td>
              <td class="p-4 text-center">✔</td>
              <td class="p-4 text-center">✔</td>
              <td class="p-4 text-center">✘</td>
            </tr>
            <!-- Creative agencies -->
            <tr>
              <td class="p-4 text-left">Creative agencies</td>
              <td class="p-4 text-center">✘</td>
              <td class="p-4 text-center">✘</td>
              <td class="p-4 text-center">✔</td>
              <td class="p-4 text-center">✔</td>
              <td class="p-4 text-center">✘</td>
            </tr>
            <!-- Freelancers -->
            <tr>
              <td class="p-4 text-left">Freelancers</td>
              <td class="p-4 text-center">✘</td>
              <td class="p-4 text-center">✘</td>
              <td class="p-4 text-center">✘</td>
              <td class="p-4 text-center">✔</td>
              <td class="p-4 text-center">✔</td>
            </tr>
            <!-- Self-service tools -->
            <tr>
              <td class="p-4 text-left">Self-service tools</td>
              <td class="p-4 text-center">✘</td>
              <td class="p-4 text-center">✘</td>
              <td class="p-4 text-center">✘</td>
              <td class="p-4 text-center">✔</td>
              <td class="p-4 text-center">✘</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  