/* Import TailwindCSS for utility classes */
@import "tailwindcss";

/* Theme Variables */
@theme {
  --color-black: #1e1e1e;
  --color-white: #e7e7d8;
  --color-eagle: #afac95;
  --color-orange: #ea4125;
}

/* Font Definitions */
.font-display {
  font-family: Basement, sans-serif;
  font-weight: 700;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif; /* Use variable font if supported */
  }
}

@font-face {
  font-family: "Basement";
  src: url("../fonts/BSBlack.eot");
  src: url("../fonts/BSBlack.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BSBlack.woff2") format("woff2"),
    url("../fonts/BSBlack.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  descent-override: 0%;
}

/* Keyframes and Animations */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

/* Gradient Grid */
.gradient-grid {
  background-image: radial-gradient(
      circle at center center,
      transparent 0%,
      rgba(255, 255, 255, 0) 99%
    ),
    repeating-linear-gradient(
      0deg,
      rgba(205, 205, 205, 0.2) 0px,
      rgba(205, 205, 205, 0.2) 1px,
      transparent 1px,
      transparent 6px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(205, 205, 205, 0.2) 0px,
      rgba(205, 205, 205, 0.2) 1px,
      transparent 1px,
      transparent 6px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

/* Sticky Navigation (For Intro Section) */
.sticky-section {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: black;
  transition: transform 0.3s ease-in-out; /* Smooth slide effect */
}

.hidden {
  transform: translateY(-100%); /* Hide sticky navigation */
}

/* Non-Sticky CTA Section */
.non-sticky-section {
  position: static; /* Ensure default positioning */
  top: auto;
  z-index: auto;
  background-color: transparent; /* No background for differentiation */
}

/* Utility Classes for Visual Tweaks */
.bg-orange {
  background-color: var(--color-orange);
}

.text-white {
  color: var(--color-white);
}

.text-black {
  color: var(--color-black);
}

.hover\:bg-black:hover {
  background-color: var(--color-black);
}
